@{
  ViewBag.Title = "Edit Product";
}
@model gammingStore.Models.Product
<form  method="post">
  <label for="Name">Name</label>
  <input type="text"  id="Name" name="Name" value="@Model.Name">
  <label for="Description">Description</label>
  <input type="text" id="Description" name="Description" value="@Model.Description">
  <label for="Price">Price</label>
  <input type="number" id="Price" name="Price" value="@Model.Price">
  <label for="Stock">Stock</label>
  <input type="number" id="Stock" name="Stock" value="@Model.Stock"
  onpasting="return false"
  onclick="twoDecemal(event)">
  <label for="oldPrice">Old Price</label>
  <input type="number" id="oldPrice" name="oldPrice" value="@Model.OldPrice" 
  onpasting="return false"
  onclick="twoDecemal(event)">
<input type="submit" class="btn btn-primary" value=Update>
</form>

<script>
  function twoDecemal(x){
    if(x.target.value.includes('.')){
      const [int, dec] = x.target.value.split('.');
      x.target.value = `${int}.${dec.slice(0, 2)}`;
    }
  }
  const form = document.querySelector('form');
  document.querySelectorAll('form *').forEach((x) => x.addEventListener('keydown',
  (event) => {
    if(event.key === 'Enter'){
      event.preventDefault();  
      form.dispatchEvent(new Event('submit', { cancelable: true, bubbles: true }));
      return 
    }
  }));

  document
    .querySelector("form")
    .addEventListener('submit', Add)


  function Add(event){
   const name  = document.querySelector('#Name').value;
    const description = document.querySelector('#Description').value;
    if ((/^\s*$/).test(name) || (/^\s*$/).test(description)
    || (/^\s/.test(name)) || (/^\s/).test(description)){
      alert('Name and Description must not be empty or start with a space');
      event.preventDefault();
      event.stopPropagation();
      return;
    }
    const price = document.querySelector('#Price').value;
    if(Number(price) < 0){
      alert('Price must be greater than 0');
      event.preventDefault();
      event.stopPropagation();
      return;
    }
    const oldPrice = document.querySelector('#oldPrice').value;

    if (Number(oldPrice) < 0 && !(Number(oldPrice) === -1) ){
      alert('Old price must be greater than or equal to 0');
      event.preventDefault(); // preventDefault
      event.stopPropagation();
      return;
    }
  }
</script>

