@{
  ViewBag.title = "Orders";
}
@model IEnumerable<gammingStore.Models.Order>
<div class="container">
<div class="table">
<table class="">
<thead>
  <tr>
    <th>Order ID</th>
    <th>Username</th>
    <th>Product Name</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Order Date</th>
    <th>delivered</th>
</thead>
<tbody>
@foreach(var item in Model){
<tr>
  <td>@item.Id</td>
  <td>@item.UserName</td>
  <td>@item.ProductName</td>
  <td>@item.Quantity</td>
  <td>@item.Price</td>
  <td>@item.TranscationDate</td>
  @* chose a green color for delivered orders and red for not delivered *@
  <td style="background-color: @(item.Delivered ? "#228B22" : "#AA0000")">@((item.Delivered ? "Yes" : "No"))</td>
</tr>
  



}
</tbody>
</table>
</div>
