@{
  ViewBag.Title = "Products";
  List<string> images=     Directory.GetFiles("wwwroot/images").ToList();
  string filePath = "";
}
@model IEnumerable<gammingStore.Models.Product>
<div class="container" style="grid-template-rows: 0.25fr 1fr ;">
  <div>
<a href="/Employees/AddProduct" class="btn btn-primary">Add Product</a>
  </div>
<div class="cards-grid">
@foreach(var item in Model){
    <div class="card" style="width: 18rem;">
        @{
            System.Text.RegularExpressions.Regex regex = new System.Text.RegularExpressions.Regex($@"/{item.ProductId.ToString()}\.");
            images.ForEach(f => {
                if (regex.IsMatch(f)){
                    filePath =  f;
                }               
            });
            filePath = filePath.Replace("wwwroot", "");
        }
        <div class="card-img">
          <img src="@(filePath)" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h3 class="card-title" style="color: black;">
              @item.Name
            </h3>
            <p class="card-text" style="color: black;">
              @item.Description
            </p>
            <h5 class="card-title" style="color: black;">
              Price: <span style="text-decoration: line-through;">@((item.OldPrice>0)? item.OldPrice : "")</span> @item.Price
            </h5>
            <h6 class="card-title" style="color: black;">
              @item.Stock
            </h6>
            <div class="card-options">
            <a href="/Employees/EditProduct/@item.ProductId" class="btn employees-optbtn-1">Edit</a>
            <a href="/Employees/DeleteProduct/@item.ProductId" class="btn employees-optbtn">Delete</a>
            </div>
        </div>
    </div>
}
</div>
</div>
  <style>
    @("@")media (max-width: 768px){
      .container{
        overflow-y: auto;
      }
      .cards-grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        height: auto;
        overflow-y: none;
      }
    }
  </style>
