@{
    ViewBag.Title = "Users";
}
@model IEnumerable<gammingStore.Models.User>
<div class="container">
  <div class="table">
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Full Name</th>
      <th>Email </th>
      <th>Role</th>
      <th>Actions</th>
  </thead>
  @foreach (var item in Model){
    <tr>
      <td>@item.Username</td>
      <td>@item.FullName</td>
      <td>@item.Email</td>
      <td>@item.Role</td>
      <td>
        <a asp-action="EditUser" asp-route-id="@item.UserId">Edit</a> 
        <a asp-action="DeleteUser" asp-route-id="@item.UserId">Delete</a>
      </td>
    </tr>
  }
</table>
</div>
<div>
  <a asp-action="AddUser">Add User</a>
</div>
</div>
