@{
    ViewData["Title"] = "Home Page";
    List<string> images=     Directory.GetFiles("wwwroot/images").ToList();
    string filePath = "";

}

@model IEnumerable<gammingStore.Models.Product>


@foreach(var item in Model){
    <div class="card" style="width: 18rem;">
        @{
            System.Text.RegularExpressions.Regex regex = new System.Text.RegularExpressions.Regex($@"{item.ProductId.ToString()}\.");
            images.ForEach(f => {
                if (regex.IsMatch(f)){
                    filePath =  f;
                }               
            });
            filePath = filePath.Replace("wwwroot", "");
        }
        <img src="@(filePath)" class="card-img-top" alt="...">
        <div class="card-body">
            <h3 class="card-title" style="color: black;">
              @item.Name
            </h3>
            <p class="card-text" style="color: black;">
              @item.Description
            </p>
            <h5 class="card-title" style="color: black;">
              @item.Price
            </h5>
            <h6 class="card-title" style="color: black;">
              @item.Stock
            </h6>
            <button onclick="addToCart(@item.ProductId)">Buy</button>
        </div>
    </div>
}
<script>
  function addToCart(id){
    const cart = JSON.parse(localStorage.getItem('cart')) ?? []
    cart.forEach(item => {
      if(item.id === id){
        item.quantity++
      }
    })
    if(cart.find(item => item.id === id) === undefined){
      cart.push({id, quantity: 1})
    }
    localStorage.setItem('cart', JSON.stringify(cart))
    }
</script>
