@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<gammingStore.Models.Product>


@foreach(var item in Model){
    <div class="card" style="width: 18rem;">
        <img  class="card-img-top" alt="...">
        <div class="card-body">
            <h3 class="card-title" style="color: black;">
              @item.Name
            </h3>
            <p class="card-text" style="color: black;">
              @item.Description
            </p>
            <h5 class="card-title" style="color: black;">
              @item.Price
            </h5>
            <h6 class="card-title" style="color: black;">
              @item.Stock
            </h6>
            <button onclick="addToCart(@item.ProductId)">Buy</button>
        </div>
    </div>
}
<script>
  function addToCart(id){
    localStorage.setItem('cart', JSON.stringify({id: id, quantity: 1}))
    })
  }
</script>
